{% include 'navbar.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="contact-container flex">
        <div class="contact-wrapper flex">
            <h2>Contact Us</h2>
            <form class="flex" action="/contact" method="post">
                {% csrf_token %}
                <div class="field-wrapper">
                    <input type="text" id="name" placeholder="Enter Name" name="name" required>
                </div>
                <div class="field-wrapper">
                    <input type="email" id="email" placeholder="Enter Email" name="email" required>
                </div>
                <div class="field-wrapper">
                    <textarea id="msg" placeholder="Message" name="msg" required></textarea>
                </div>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
{% endblock body %}