{% block body %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <footer class="foot">
        <div class="copyright">
            PennyStock Copyright &copy; <span class="copy-years"></span>
        </div>
        <div class="social-links">
            <i class="fa-brands fa-github"></i>
            <a href="https://instagram.com/penny_stock_analysis?utm_medium=copy_link"><i class="fa-brands fa-instagram"></i></a>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </footer>
    <script type="text/javascript">
        const year = document.querySelector(".copy-years");
        const currYear = new Date().getFullYear().toString();
        year.textContent = `2021 - ${currYear}`;
    </script>
</body>
</html>
{% endblock %}